table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f0f0f0;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:nth-of-type(odd) {
    background-color: #eee;
  }
  h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  button.delete-button {
    color: black;
    border: none;
    background-color: red;
    cursor: pointer;
    transition: color 0.3s;
    border-radius: 3px;
  }
  
  button.delete-button:hover {
    color: darkred;
  }
  